html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.mt10{
  margin-top: 10px
}
.mt20{
  margin-top: 20px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  padding: 0;
  margin: 0;
  outline: none;
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.watermark-box{
  width: 100%;
  
}
.watermark-content{
 width: 800px;
 height: 96vh;
 margin: 2vh auto;
 /* border: 1px solid #9d9999; */
 box-shadow: 0 0 10px #ccc;
 padding: 60px;
 position: relative;
 border-radius: 10px;
}
.watermark-content .title{
  color: #000000;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}
.watermark-content .des{
  color: #000000;
  font-size: 16px;
  margin-top: 4px;
  text-align: center;

}
.watermark-content .input-info{
 width: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 40px;

}
.input-info input{
  width: 300px;
  height: 34px;
  border: 1px solid #ccc;
  border-radius: 6px;;
  padding: 0 20px;
  margin-top: 20px;;
}
.input-info .input-info-label{
  font-weight: bold;
}
.input-info button{
  font-size: 14px;;
  cursor: pointer;
  background: #009797;
  color: #ffffff;
  height: 34px;
  padding: 0 20px;
  border-radius: 4px;
  border: none;
  margin-top: 10px;
}
.input-info button:hover{
 opacity: 0.8;
}
.border-box{
  width: 100%;
  border: 1px dashed #009797;
  border-radius: 2px;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
}
.border-box a{
  color: #009797;
}
.img-info{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.img-info img{
  width: 100px;
  margin: 10px auto;
}
.img-info button{
  width: 200px;
  line-height: 34px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  background: #009797;
  color: #ffffff;
}
.img-info button:hover{
  background: #016565;
}
.img-info .img-info-tips{
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}
.empty-info{
  width: 100%;
  padding-top: 100px;
  text-align: center;
}

.circular-box {
  animation: loading-rotate 2s linear infinite;
  position: absolute;
  left: 48%;
  top: 200px;;
}
.circle {
  stroke-dasharray: 900;
  stroke-dashoffset: -3;
  animation: loading-dash 1.5s ease-in-out infinite;
}
@keyframes loading-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -40;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -120;
  }
}
@keyframes loading-rotate {
  100% {
    transform: rotate(360deg);
  }
}